{% extends "base.html" %}
{% block content %}
<h2>Add a new Pokémon Card</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=64) }}<br>
        {% for error in form.name.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(cols=40, rows=5) }}<br>
        {% for error in form.description.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price() }}<br>
        {% for error in form.price.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image_url.label }}<br>
        {{ form.image_url(size=64) }}<br>
        {% for error in form.image_url.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.stock.label }}<br>
        {{ form.stock() }}<br>
        {% for error in form.stock.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}